<nav class="navbar navbar-expand-lg bg-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/company/getAll">IET-PlacementInsights</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active navbar-anchor" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-anchor" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-anchor" href="/company/getAll">Companies</a>
        </li>
        <li class="nav-item dropdown navbar-anchor">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Developers
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/manan" target="_blank">Manan</a></li>
            <li><a class="dropdown-item" href="/raghav" target="_blank">Raghav</a></li>
            <li><a class="dropdown-item" href="/varsha" target="_blank">Varsha</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>