<% layout("../layouts/boilerplate.ejs") %>

<h2 class="col-6 offset-2 mt-3">Companies List</h2>

<ul class="list-group list-group-flush row">
    <% for(company of companies) { %>
        <li class="list-group-item col-6 offset-2">
            <a href="/blog/getAll/<%= company.id %>" class="displayCompanyList">
                <%= company.name %>
            </a>
        </li>
    <% } %>            
</ul>
