<% layout("../layouts/boilerplate.ejs") %>

<style>
    body {
        background-color: #000; /* Black background */
        color: #fff; /* White text */
    }
</style>

    <!-- Welcome Message Section -->
    <div class="jumbotron text-center mt-5">
        <h1 class="display-4">Welcome to IET-PlacementInsights!</h1>
        <p class="lead">Explore, learn, and share your experiences.</p>
        <hr class="my-4">
        <p>Get started by viewing or posting blogs, and check out our placement resources.</p> <br>
        <a class="btn btn-primary btn-lg" href="#view-blog" role="button">View Blogs</a> <br><br>
        <a id="postABlog" class="btn btn-success btn-lg" href="#post-blog" role="button">Post A Blog</a>
    </div>

    <!-- Placement Links Section -->
    <div class="index container mb-5">
        <h2 class="text-center mb-4">Placement Resources</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="#company-profiles" class="btn btn-outline-info btn-block">Company Profiles</a>
            </div>
            <div class="col-md-4">
                <a href="#interview-prep" class="btn btn-outline-info btn-block">Interview Preparation</a>
            </div>
            <div class="col-md-4">
                <a href="#alumni-stories" class="btn btn-outline-info btn-block">Core Subjects</a>
            </div>
        </div>
    </div>

    <!-- YOU CAN USE YOUR DEFAULT FOOTER CODE FROM HERE AS WELL -->  


